XML/.idea/pilot.dtd

<!ELEMENT Piloten (Pilot)+>
        <!ELEMENT Pilot (Vorname|Nachname|Vorname2Kurz|Punkte|Rennstall)*>
        <!ATTLIST Pilot id CDATA #REQUIRED>
        <!ELEMENT Vorname (#PCDATA)>
        <!ELEMENT Nachname (#PCDATA)>
        <!ELEMENT Vorname2Kurz (#PCDATA)>
        <!ELEMENT Punkte (#PCDATA)>
        <!ELEMENT Rennstall (Name|dabeiSeit)*>
        <!ELEMENT Name (#PCDATA)>
        <!ELEMENT dabeiSeit (#PCDATA)>
